<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Sisterhood Members</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div>
        <div class = "row">
            <h2 th:text="${title}">Default Title </h2>
        </div>
    </div>

    <nav th:fragment="navigation">

    <table class ="table">
        <a class ="button" href="/members">List |</a>
        <a class ="button" href="/members/add">Add Members |</a>
        <a class ="button" href="/members/delete">Remove Members |</a>
        <a class = "button" href="/events/add">Add Program Type</a>
        <a class ="button" href="/members/current">Current Members |</a>
        <a class ="button" href="/events">Events</a>

    </table>
    </nav>

</body>
</html>



